#my-canvas {
  width: 600px;
  height: 600px;
}
.app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
}
.map {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scene {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_container {
  display: flex;
  border: 2px solid #e3e3e3;
  margin: 10px;
  flex-direction: column;
}
.details_container > span {
  padding: 10px;
  display: flex;
  font-size: 20px;
  letter-spacing: 0.2;
  align-items: center;
}
.details_container > span > span {
  padding: 0 5px;
}
